<div class="container">
<div class="center jumbotron">
  <h1>Course Selection System</h1>

  <h2>
    This is the home page for Course Selection Part 1
  </h2>
  <% if logged_in? %>
    <div class="btn-group btn-group-lg">
      <%= link_to "Courses", courses_path, class: "btn btn-info" %>
      <%= link_to "Subjects", subjects_path, class: "btn btn-info" %>
      <%= link_to "Instructors", instructors_path, class: "btn btn-info" %>
    </div>
  <% else %>
    <%= link_to "Sign up", signup_path, class: "btn btn-info btn-lg" %>
  <% end %>

</div>
</div>
